.container {
}

.navigation {
  margin: 0px 0px 50px 0px;
}
.linkFlesh {
  color: #9f9f9f;
  padding: 0px 10px;
}

.linkMain {
  color: #9f9f9f;
}
.linkMain:hover {
  color: #000000;
}
.title {
  margin: 0px 0px 15px 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}
.blockAuthorization {
  margin: 0px 0px 30px 0px;
}

.linkAuthorization {
  color: #9f9f9f;
  text-decoration: underline;
}
