.inputBlock {
  position: relative;
}
.inputBlock:not(:last-child) {
  margin: 0px 0px 34px 0px;
}

.input {
  width: 505px;
  border: none;
  border-bottom: 1px solid #9f9f9f;
  padding: 3px 0px 0px 0px;
  font-weight: 400;
  font-size: 16px;
  @media (max-width: 520px) {
    width: 100%;
  }
}
.inputActive {
  border-bottom: 1px solid red;
}

.inputLabel {
  display: none;
}
.input:not(:placeholder-shown) ~ .inputLabel {
  display: block;
  position: absolute;
  left: 0px;
  font-style: normal;
  top: -12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #9f9f9f;
}
::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #9f9f9f;
}

.error {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: red;
}
