.container {
  max-width: 506px;
}
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}
.items > div:not(:last-child) {
  border: none;
  border-bottom: 1px solid #9f9f9f;
}

.total {
  display: flex;
  justify-content: space-between;

  text-align: center;
  padding: 25px 0px;
  width: 505px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  background-color: #ffffff;

  @media (max-width: 520px) {
    width: 100%;
  }
}
