* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}
.wrapper {
  margin: 30px auto;
  max-width: 1110px;
  @media (max-width: 645px) {
    width: calc(100vw - 10px);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @media (max-width: 480px) {
    padding: 16px;
  }
}
