.container {
  margin: 0 0 30px 0;
}

.button {
  padding: 25px 0px;
  width: 505px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  background-color: #ffffff;
  border: 1px solid #000000;
  margin: 0px 0px 34px 0px;
  @media (max-width: 520px) {
    width: 100%;
  }
}

.inputItems {
  margin: 0px 0px 70px 0px;
}
